<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <connectionStrings>
      <add name="LicencaModelos" connectionString="data source=EDUARDO-PC\SQLEXPRESS;initial catalog=GEFIDWEB;persist security info=True;user id=sa;password=n1cc@n1contactcenter2014;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>